 <div class="media">
    <div class="media-body">
      <span class="media-heading"><%= entry.comments.user.name%><span>
      <i><%= time_ago_in_words entry.comments.created_at %> ago.</i>
      <p><%= entry.comment.content %></p>
    </div>
</div>
